<div class="text-white w-screen h-screen overflow-hidden flex">
    <div class="justify-center items-center h-full w-full bg-slate-800">
        <router-outlet></router-outlet>
    </div>
    <div style="background-image: url(../../../../assets/imgs/img.png);" class="text-slate-800 text-2xl bg- bg-cover bg-center text-center justify-center flex flex-col gap-y-10 w-full h-full">
        <h1 class="text-5xl ">Casa Fácil</h1>
        <h3>Encontre seu lar.</h3>
        <h3>Divulgue sua propriedade.</h3>
        <h3>Rápido e fácil.</h3>
    </div>
</div>